name: ci
on:
  push:
    branches: [ kafkajs ]
  pull_request:
    branches: [ kafkajs ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    env:
      KAFKA_BOOTSTRAP_SERVER: localhost:9092
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: ./scripts/start-server.sh
    - run: ./scripts/prepare.sh
    - run: nohup node producer-backend/producer.js > /dev/null 2>&1 & echo $! > prun.pid
    - run: nohup node consumer-backend/consumer.js > cout.log & echo $! > crun.pid
    - run: P=$(cat prun.pid)
    - run: C=$(cat crun.pid)
    - run: ./scripts/test-producer.sh
    - run: if [ -s cout.log ]; 
           then
             cat cout.log;
           else
             exit 1;
           fi
    - run: ./scripts/stop-server.sh